[package]
name = "txv1"
version.workspace = true
authors.workspace = true
repository.workspace = true
homepage.workspace = true
license.workspace = true
edition.workspace = true

[dependencies]
solana-transaction = { workspace = true }

[lints]
workspace = true
